n8n_dooh_recommender_workflow.json
{
  "name": "DOOH Smart Recommender - Anti-Alucinaciones",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "6f1e2d3a-b4c5-4d6e-8f7a-9b0c1d2e3f4a",
      "name": "Chat Trigger",
      "type": "n8n-nodes-base.chatTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Eres un extractor de datos experto. Tu única misión es extraer el TIPO DE NEGOCIO y la UBICACIÓN del mensaje del usuario. \n\nReglas:\n1. Si el usuario dice 'Veterinaria', el negocio es 'veterinaria'.\n2. Si el usuario dice 'San Isidro', la ubicación es 'San Isidro'.\n3. Devuelve SIEMPRE un JSON con las llaves 'negocio' y 'ubicacion'.\n4. Si no detectas algo, pon null."
        }
      },
      "id": "a1b2c3d4-e5f6-4a1b-8c9d-0e1f2a3b4c5d",
      "name": "AI Agent: Extractor",
      "type": "n8n-nodes-base.aiAgent",
      "typeVersion": 1,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, display_name, argumento_maestro \nFROM public.config_perfiles_dooh \nWHERE keywords @> ARRAY['{{ $node[\"AI Agent: Extractor\"].json[\"negocio\"] }}']::text[]\nLIMIT 1;"
      },
      "id": "b2c3d4e5-f6a1-4b2c-9d0e-1f2a3b4c5d6e",
      "name": "Supabase: Clasificar Perfil",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [440, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT product_title, metadata_location, score_intensidad, metadata_nearby\nFROM public.pantallas\nWHERE perfil_primario = '{{ $json[\"id\"] }}' \nAND metadata_location ILIKE '%{{ $node[\"AI Agent: Extractor\"].json[\"ubicacion\"] }}%'\nORDER BY score_intensidad DESC\nLIMIT 3;"
      },
      "id": "c3d4e5f6-a1b2-4c3d-0e1f-2a3b4c5d6e7f",
      "name": "Supabase: Buscar Top 3",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [660, 0]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $items().length }}",
              "operation": "smaller",
              "value2": 3
            }
          ]
        }
      },
      "id": "d4e5f6a1-b2c3-4d4e-1f2a-3b4c5d6e7f8a",
      "name": "Mínimo 3 Resultados?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [880, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Búsqueda expandida si hay menos de 3\nSELECT product_title, metadata_location, score_intensidad, metadata_nearby\nFROM public.pantallas\nWHERE perfil_primario = '{{ $node[\"Supabase: Clasificar Perfil\"].json[\"id\"] }}'\n-- Eliminamos el filtro de ubicación estricto para ofrecer alternativas\nORDER BY score_intensidad DESC\nLIMIT 3;"
      },
      "id": "e5f6a1b2-c3d4-4e5f-2a3b-4c5d6e7f8a9b",
      "name": "Supabase: Búsqueda Expandida",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position"
      },
      "id": "f6a1b2c3-d4e5-4f6a-3b4c-5d6e7f8a9b0c",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Chat Trigger\"].json[\"message\"] }}",
        "options": {
          "systemMessage": "=Eres un asesor de publicidad DOOH experto. \n\nINSTRUCCIONES CRÍTICAS:\n1. Usa este argumento de venta obligatorio: {{ $node[\"Supabase: Clasificar Perfil\"].json[\"argumento_maestro\"] }}\n2. Presenta estas 3 opciones reales de la base de datos: {{ JSON.stringify($node[\"Merge Data\"].json) }}\n3. Si los resultados son de distritos diferentes al solicitado, acláralo como 'Opciones Premium Cercanas'.\n4. PROHIBIDO: Inventar nombres de calles, tiendas cercanas o scores.\n5. Tono: Persuasivo, profesional y directo."
        }
      },
      "id": "0a1b2c3d-4e5f-6a7b-8c9d-0e1f2a3b4c5d",
      "name": "AI Agent: Pitcher Final",
      "type": "n8n-nodes-base.aiAgent",
      "typeVersion": 1,
      "position": [1540, 0]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [[{ "node": "AI Agent: Extractor", "type": "main", "index": 0 }]]
    },
    "AI Agent: Extractor": {
      "main": [[{ "node": "Supabase: Clasificar Perfil", "type": "main", "index": 0 }]]
    },
    "Supabase: Clasificar Perfil": {
      "main": [[{ "node": "Supabase: Buscar Top 3", "type": "main", "index": 0 }]]
    },
    "Supabase: Buscar Top 3": {
      "main": [[{ "node": "Mínimo 3 Resultados?", "type": "main", "index": 0 }]]
    },
    "Mínimo 3 Resultados?": {
      "main": [
        [{ "node": "Supabase: Búsqueda Expandida", "type": "main", "index": 0 }],
        [{ "node": "Merge Data", "type": "main", "index": 0 }]
      ]
    },
    "Supabase: Búsqueda Expandida": {
      "main": [[{ "node": "Merge Data", "type": "main", "index": 1 }]]
    },
    "Merge Data": {
      "main": [[{ "node": "AI Agent: Pitcher Final", "type": "main", "index": 0 }]]
    }
  }
}
